<form (ngSubmit)="onSubmit(itemForm)" #itemForm="ngForm">
    <label for="product">Product:</label>
    <input type="text" name="product" autocomplete="off" placeholder="Name" class="form-control m-3" required
        minlength="5" #product="ngModel" [(ngModel)]="item.product">
    @if (product.invalid && (product.dirty || product.touched)) {
    @if (product.errors!['required']) {
    <p class="text-danger text-center center">The Product name is Required</p>
    }

    @if (product.errors!['minlength']) {
    <p class="text-danger ">The Product name must be 5 characters or more</p>
    }
    }
    <label for="price">Price:</label>
    <input type="number" name="price" autocomplete="off" placeholder="Price" class="form-control m-3" required min="0"
        #price="ngModel" [(ngModel)]="item.price">

    @if (price.invalid && (price.dirty || price.touched)) {
    @if (price.errors!['required']) {
    <p class="text-danger ">The price field is Required</p>
    }

    @if (price.errors!['min']) {
    <p class="text-danger ">The minimun value for price field is 1</p>
    }
    }

    <label for="quantity">Quantity:</label>
    <input type="number" name="quantity" autocomplete="off" placeholder="Quantity" class="form-control m-3" required
        min="1" #quantity="ngModel" [(ngModel)]="item.quantity">

    @if (quantity.invalid && (quantity.dirty || quantity.touched)) {
    @if (quantity.errors!['required']) {
    <p class="text-danger ">The Quantity field is Required</p>
    }

    @if (quantity.errors!['min']) {
    <p class="text-danger">The Quantity field must be 1 or more</p>
    }
    }

    <button class="btn btn-success m-3" [disabled]="itemForm.invalid">New Item</button>
</form>